// .entry {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }

// .entry-detail {
// }

.dayLink {
	color: #d91a72;
	font-weight: bold;
}
.dayLink:hover {
	color: pink;
	text-decoration: none;
}

.utility {
	color: #d91a72;
	font-weight: bold;
}

.utility:hover {
	color: pink;
	text-decoration: none;
}

#successLink {
	display: none;
}

.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none;
}

// #header {
// 	background: url("../../images/test2.png") no-repeat;
// 	background-size: 100%;
// }
